.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
  grid-template-rows: repeat(2, 1fr);
}
 
.home-container11 {
  width: 100%;
  height: 188px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  aspect-ratio: auto;
  border-color: #00a5ff;
  border-width: 10px;
  border-radius: var(--dl-layout-radius-buttonradius);
  justify-content: center;
}
 
.home-container12 {
  flex: 0 0 auto;
  width: 232px;
  height: 88px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text10 {
  color: #ffffff;
}
 
.home-text11 {
  color: #ffffff;
}
 
.home-image1 {
  width: 123px;
  height: 121px;
  object-fit: cover;
  border-color: #00a5ff;
  border-width: 5px;
  border-radius: var(--dl-layout-radius-round);
}
 
.home-container13 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: 129px;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text12 {
  color: #ffffff;
  text-align: center;
}
 
.home-text13 {
  color: rgb(255, 255, 255);
  width: 877px;
  height: 69px;
  display: block;
  min-width: auto;
}
 
.home-container14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  border-color: #00a5ff;
  border-width: 10px;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container15 {
  flex: 0 0 auto;
  height: 41px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text14 {
  color: #ffffff;
  width: 289px;
  height: 40px;
  text-align: center;
}
 
.home-container16 {
  gap: var(--dl-layout-space-twounits);
  width: 1026px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.home-container17 {
  flex: 0 0 auto;
  height: 301px;
  display: flex;
  align-self: start;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image2 {
  width: 178px;
  height: 156px;
  object-fit: cover;
}
 
.home-link1 {
  display: contents;
}
 
.home-text15 {
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-text15:hover {
  color: #ffffff;
}
 
.home-text16 {
  color: #ffffff;
}
 
.home-container18 {
  flex: 0 0 auto;
  width: 272px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image3 {
  width: 100%;
  height: 154px;
  object-fit: cover;
}
 
.home-link2 {
  display: contents;
}
 
.home-text17 {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.home-text17:hover {
  color: #ffffff;
}
 
.home-text18 {
  color: #ffffff;
  text-align: center;
}
 
.home-container19 {
  flex: 0 0 auto;
  width: 272px;
  height: 287px;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image4 {
  width: 200px;
  object-fit: cover;
}
 
.home-link3 {
  display: contents;
}
 
.home-text19 {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.home-text19:hover {
  color: #ffffff;
}
 
.home-text20 {
  color: #ffffff;
  text-align: center;
}
 
.home-container20 {
  flex: 0 0 auto;
  width: 272px;
  height: 257px;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image5 {
  width: 200px;
  object-fit: cover;
}
 
.home-link4 {
  display: contents;
}
 
.home-text21 {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.home-text21:hover {
  color: #ffffff;
}
 
.home-text22 {
  color: #ffffff;
  text-align: center;
}
 
.home-container21 {
  flex: 0 0 auto;
  width: 272px;
  height: 255px;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image6 {
  width: 162px;
  height: 142px;
  object-fit: cover;
}
 
.home-link5 {
  display: contents;
}
 
.home-text23 {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.home-text23:hover {
  color: #ffffff;
}
 
.home-text24 {
  color: #ffffff;
  text-align: center;
}
 
.home-container22 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: 187px;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 66px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container23 {
  flex: 0 0 auto;
  width: 475px;
  height: 41px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text25 {
  color: #ffffff;
  width: auto;
  height: auto;
  text-align: center;
}
 
.home-container24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-container25 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  height: 83px;
  display: flex;
  align-self: start;
  transition: 0.3s;
  align-items: center;
  border-color: #000052;
  border-width: 5px;
  justify-self: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(102, 194, 255) 0.00%,rgb(0, 255, 231) 100.00%);
}
 
.home-container25:hover {
  border-color: #5858ff;
}
 
.home-container26 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  height: 83px;
  display: flex;
  align-self: start;
  transition: 0.3s;
  align-items: center;
  border-color: #000052;
  border-width: 5px;
  justify-self: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(102, 194, 255) 0.00%,rgb(0, 255, 231) 100.00%);
}
 
.home-container26:hover {
  border-color: #5858ff;
}
 
.home-container27 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  height: 83px;
  display: flex;
  align-self: start;
  transition: 0.3s;
  align-items: center;
  border-color: #000052;
  border-width: 5px;
  justify-self: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(102, 194, 255) 0.00%,rgb(0, 255, 231) 100.00%);
}
 
.home-container27:hover {
  border-color: #5858ff;
}
 
.home-container28 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  height: 83px;
  display: flex;
  align-self: start;
  transition: 0.3s;
  align-items: center;
  border-color: #000052;
  border-width: 5px;
  justify-self: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(102, 194, 255) 0.00%,rgb(0, 255, 231) 100.00%);
}
 
.home-container28:hover {
  border-color: #5858ff;
}
 
.home-container29 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  height: 83px;
  display: flex;
  align-self: start;
  transition: 0.3s;
  align-items: center;
  border-color: #000052;
  border-width: 5px;
  justify-self: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(102, 194, 255) 0.00%,rgb(0, 255, 231) 100.00%);
}
 
.home-container29:hover {
  border-color: #5858ff;
}
 
.home-link6 {
  display: contents;
}
 
.home-container30 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text40 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-container16 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
 
@media(max-width: 767px) {
  .home-container14 {
    height: 949px;
    position: relative;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container16 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .home-container24 {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .home-container16 {
    width: auto;
    margin-right: 0px;
  }
  .home-container22 {
    width: auto;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-container23 {
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  .home-text25 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .home-container24 {
    width: auto;
    margin-right: 0px;
  }
  .home-container25 {
    height: auto;
  }
  .home-container26 {
    height: auto;
  }
  .home-container27 {
    height: auto;
  }
  .home-container28 {
    height: auto;
  }
  .home-container29 {
    height: auto;
  }
}
